body{
    background:#e0e0f0;
    margin: 0;
}
.header{
    color: white;
    background: #513774;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-style: italic;
    text-shadow: #000 5px 3px 3px;
}
.container{
    font-family:  Arial, Helvetica, sans-serif;
    width: 70%;
    margin: auto;
}
.title{
    margin: auto;
    padding: 1%;
    padding-left:15%;
}

.about{
    line-height: 1.6em;
}
img{
    width: 30%;
    float: left;
    box-shadow: #000 2px 5px 5px;
    margin-right: 5%;
    margin-bottom: 2%;
}

.upper-paragraph{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    float: right;
    font-size: 150%;
    font-weight: lighter;
}

.paragraph{
    float:left;
    width: 30%;
    background: #8a81c0;
    margin: 2%;
    border-radius: 5%;
    box-shadow: #000 2px 5px 5px;
}
.paragraph p{
    padding: 5%;
    padding-top: 0;
    padding-bottom: 0;
}
.paragraph:hover{
    background-color: rgb(169, 60, 212);
}

.links a{
    padding-left: 2%;
    padding-right: 2%;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 120%;
    background-color: #8a81c0;
    border-radius: 5%;
    margin-right: 2%;
    color: aliceblue;
    
}
.links a:hover{
    color: #000;
    background-color: #c9a5f8;
}

.footer{
    background-color: #513774;
}
.footer p{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 0;
    padding-top: 1%;
}

.notice{
    margin-top: 0;
}